html, body {
  height: 100%;
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
}

/* Gradient background for the entire webpage */
body {
  background: linear-gradient(to right, #587909, #00d4ff);
  color: #000;
  overflow-x: hidden; /* Prevent horizontal scroll due to header */
}

a {
  color: aliceblue;
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px; /* Adjust padding as needed */
  height: 100%;
  box-sizing: border-box;
  margin-top: 100px; /* Offset the header height */
  color: white;
}

/* Tabs container styling */
.tabs {
  display: flex;
  overflow-x: auto;
  background: #ccc;
  color: #333;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

/* Individual tab styling */
.tab {
  padding: 15px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

/* Hover effect for tabs */
.tab:hover {
  background-color: #f0f0f0;
}

/* Active tab styling */
.tab.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

/* Tab content styling */
.tab-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
}
